{% load static %}{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Galerie</title>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %} {%block styles%} {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {%endblock%}
  </head>
  <body class="body">
    <img src="{% static "gallery.jpeg" %}" alt="My image"class='img-responsive
    imgGallery'/>
    <div class="nav">{% include 'navbar.html' %}</div>
    {%block content%}

    <div class="container-fluid main">
      <div class="col-md-3">
        <div class="dropdown">
          <button
            type="button"
            class="dropdown-toggle btn btn-dark"
            data-bs-toggle="dropdown"
          >
            Filter By Location
            <i class="fa fa-filter text-warning"></i>
          </button>

          <ul class="dropdown-menu">
            <li>
              {% for item in locations %}
              <a class="dropdown-item" href="/location/{{item.name}}"
                >{{item.name | title}}</a
              >
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 link">
        <h1 class="text-white">Photographer | Developer</h1>

        <h6 class="text-white">
          <a href="{% url 'show' %}" class="text-center text-white">
            <i class="fa fa-arrow-right"></i
            ><i class="fa fa-camera text-warning" aria-hidden="true"></i
            ><i class="fa fa-arrow-left"></i
          ></a>
        </h6>
      </div>
      <div class="col-md-3 form">
        <form
          class="navbar-form"
          role="search"
          action="{% url 'searchResults' %}"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Image Category"
              name="image"
            />
            <div class="input-group-btn">
              <button class="btn btn-warning" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    {%endblock%}
  </body>
</html>
