{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {%block styles%}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    {%endblock%}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid" style="height: 90vh">
      <img
        src="{{images.image.url}}"
        class="img-responsive"
        alt=""
        style="height: 90vh; width: 100%"
      />
      <br />
      {% comment %}
      <p>{{images.imageName}}</p>
      {% endcomment %}
      <br />
      {% comment %}
      <small>Posted {{images.pub_date|timesince}} ago at</small> {% endcomment
      %} {% comment %}
      <p>{{images.imageLocation.name}}</p>
      {% endcomment %}
    </div>
  </body>
</html>
