{%load static%}{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Galerie</title>
    {%block styles%}{% bootstrap_css %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/show.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {%endblock%} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}
  </head>
  <body class="search-body">
    {% block content %}
    <div class="container-fluid">
      <div class="row text-white">
        {% if searched_images%}
        <button class="btn btn-warning head-but">
          <small>{{ searched_images|length }} image(s) for '{{message}}'</small>
        </button>
        {% else %}
        <h2>Found 0 images for the search term {{message}}</h2>
        {% endif %}
      </div>
      {% include 'navbar.html' %}
      <div class="row">
        {% if searched_images %} {% for image in searched_images %}
        <div
          class="col-md-3 search"
          data-bs-toggle="modal"
          data-bs-target="#image{{image.id}}"
        >
          <h1 class="text-white">{{image.imageName}}</h1>
          <img src="{{image.image.url}}" class="sImage" alt="" />
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="image{{image.id}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-centered modal-md"
            role="document"
          >
            <div class="modal-content popup body">
              <div class="modal-header">
                <h4 class="modal-title text-white" id="imageheader">
                  {{image.imageName | title}}
                </h4>
                <span
                  class="btn btn-danger"
                  type="button"
                  data-bs-dismiss="modal"
                >
                  &times;
                </span>
              </div>
              <div class="modal-body text-center">
                <img
                  src="{{image.image.url}}"
                  alt="{{image.imageName}}"
                  class="img-responsive mImage"
                />
                <p class="text-center text-white">{{image.imageDescription}}</p>
                <ul class="list-inline list-unstyled text-white">
                  <li class="list-inline-item gallery-item-cat">
                    <span class="visually-hidden"></span
                    ><i class="fa fa-tags" aria-hidden="true"></i>
                    {{image.imageCategory}}
                  </li>
                  <li class="list-inline-item gallery-item-loc">
                    <span class="visually-hidden"></span
                    ><i class="fa fa-thumb-tack" aria-hidden="true"></i>
                    {{image.imageLocation}}
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <input type="text" value="https://lagalarie.herokuapp.com/{{image.image.url}}" id="myInput" />
                <button
                  class="btn btn-primary"
                  onclick="copyToClipBoard()"
                  onmouseout="outFunc()"
                  data-toggle="tooltip"
                  title="copied!"
                >
                  Copy text
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
