<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% include 'navbar.html' %} {% block content %} {% for image in images %}
    <div class="row">
      <img
        src="{{image.image.url}}"
        class="img-responsive"
        alt=""
        style="height: 100px; width: 100px"
      />
      <p>{{image.imageName}}</p>
      <br />
      <small>{{image.imageDescription}}</small><br />
      <small>{{image.imageLocation.name}}</small><br />
      <small>{{image.pub_date}}</small>
    </div>
    {% endfor %} {% endblock %}
  </body>
</html>
